body {
    width: 100%;
}

h1 {
    width: 100%;
    padding: 60px 0 0 0;
    margin-bottom: 20px;
    text-align: center;
    background-position: center top;
}

p span {
    display: inline-block;
    clear: both;
}

form .left {
    display: block;
    padding-right: 0;
    padding-bottom: 11px;
}

form .right {
    float: left;
    clear: both;
    display: block;
}

form .right label {
    width: 73px;
}

textarea {
    width: 236px;
}

fieldset.last {
    text-align: center;
}

input[type=submit] {
    float: none;
    margin: 0 auto;
}
