body {
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 13px;
}

h1 span {
    font-size: 30px;
}

p span {
    display: inline;
}

p > span:before {
    content: "\A";
    white-space: pre;
}

p span span {
    display: none;
}

fieldset.last {
    text-align: center;
}

input[type=submit] {
    float: none;
    margin: 0 auto;
}
