* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    text-align: center;
    font-size: 12px;
    font-family: arial;
}

body {
    width: 586px;
    margin: 0 auto;
    background: url(../gfx/background.jpg) center bottom no-repeat;
}

::selection {
    background: #A8D1FF;
}

::-moz-selection {
    background: #A8D1FF;
}

h1 {
    width: 52%;
    min-height: 58px;
    padding: 5px 0 0 70px;
    margin: 30px auto 75px auto;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    background: url(../gfx/logo.png) left top no-repeat;
}

h1 em {
    color: #52B848;
}

h1 span {
    font-size: 26px;
    text-transform: uppercase;
}

h1 span em {
    font-style: normal;
}

sup {
    vertical-align: top;
    font-size: 40%;
}

p {
    font-size: 10.5px;
    font-weight: bold;
}

p .big {
    font-size: 18px;
}

p .subtitle {
    font-size: 12px;
    line-height: 20px;
}

p sup {
    vertical-align: super;
}

form {
    width: 81%;
    margin: 20px auto 0 auto;
    text-align: left;
    font-size: 0;
    white-space-collapsing: discard;
}

fieldset {
    padding-bottom: 11px;
}

legend {
    width: 100%;
    padding-bottom: 16px;
    text-align: center;
    font-size: 22px;
    font-variant: small-caps;
}

label {
    display: inline-block;
    width: 73px;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    vertical-align: top;
    color: #FFF;
}

input[type=text], textarea {
    background: #FFF;
}

input[type=text] {
    width: 165px;
    height: 17px;
    padding: 1px;
}

form .left {
    padding-right: 18px;
}

form .right label {
    width: 48px;
}

textarea {
    width: 396px;
    height: 47px;
    padding: 2px;
    vertical-align: bottom;
}

input[type=submit] {
    float: right;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    color: #FFF;
    background: #C2C2C2;
    border-radius: 9px;
    cursor: pointer;
}

