* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    text-align: center;
    font-size: 12px;
    font-family: arial;
}

body {
    width: 60%;
    margin: 0 auto;
    background: url(../gfx/Seeds.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::selection {
    background: #A8D1FF;
}

::-moz-selection {
    background: #A8D1FF;
}

h1 {
    width: 90%;
    min-height: 58px;
    padding: 5px 0 0 70px;
    margin: 30px auto 75px auto;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    background: url(../gfx/logo.png) left top no-repeat;
}

h1 em {
    color: #52B848;
}

h1 span {
    font-size: 56px;
    text-transform: uppercase;
}

h1 span em {
    font-style: normal;
}

sup {
    vertical-align: top;
    font-size: 40%;
}

p {
    font-size: 22px;
    margin: 0 auto 25px auto;
    padding: 10px 0;
    font-weight: bold;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

p .big {
    font-size: 28px;
}

p .subtitle {
    font-size: 30px;
    line-height: 40px;
}

p sup {
    vertical-align: super;
}

form {
    width: 65%;
    min-width: 163px;
    max-width: 512px;
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 0;
    white-space-collapsing: discard;
}

fieldset {
    padding-bottom: 11px;
}

legend {
    width: 100%;
    padding-bottom: 16px;
    font-size: 16px;
}

legend span.big {
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
}

label {
    float: left;
    display: inline-block;
    width: 20%;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    vertical-align: top;
    font-weight:bold;
    color:#FFF;
}

input[type=text], textarea {
    background: #FFF;
    font-size: 15px;
}

input[type=text] {
    float: right;
    width: 79%;
    height: 20px;
    padding: 1px;
}

textarea {
    width: 99%;
    min-width: 163px;
    max-width: 500px;
    height: 77px;
    padding: 2px;
    vertical-align: bottom;
}

input[type=submit] {
    float: right;
    padding: 8px 12px;
    margin-right:16px;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    color: #FFF;
    background: #888;

    border-radius: 9px;
    cursor: pointer;
}
